<h1>New Story</h1>

<% if @step == 'details' %>
  <!-- Form for the details step -->
  <%= render 'details_form' %>
<% elsif @step == 'editor' %>
  <!-- Form for the editor step -->
  <%= render 'editor_form' %>
<% end %>

<%= link_to 'Back to Stories', stories_path %>